server:
  port: 8083

spring:
  application:
    name: normalization-service
  cloud:
    config:
      enabled: false
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
