server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/spring-cloud-samples/config-repo # Placeholder, will use local or native for now
          default-label: main
        native:
          search-locations: classpath:/config
  profiles:
    active: native
